.container
  #suites.row
    .span3
      %h2 Test Suites
      .well
        %ul.suites-list.nav-list.nav
    .span9
      %h2 Results
      %ul.results-list
  #agents.row.hide
    .span3
      %h2 User Agents
      .well
        %ul.user-agents-list.nav-list.nav
    .span9
      %h2 Details
      .user-agents-details-list